

body {
	font-family: "Poppins", "Montserrat";
}
#fz {
	font-size: 35px;
	color: green;
	font-weight: 700;
	font-style: italic;
	text-decoration: underline;
    text-indent: 50px;
}
.text-font-size {
	font-size: 30px;
	text-indent: 30px;
}
.header {
	text-shadow: 1px 2px 2px #000;
}

h1.title {
	text-align: center;
	font-size: 50px;
	text-decoration: underline;
	text-decoration-style: double;
	text-decoration-color: aqua;
	text-shadow: none;
}

.top-title {
	font-weight: 700;
	text-indent: 10px;
}

ul.list-menu {
	font-size: 20px;
	text-indent: 20px;
	font-weight: 100;
	text-decoration: underline;
	color: blue;
}
.span-font-size {
	color: green;
	font-weight: 900;
}
#fs {
	font-size: 50px;
	font-weight: 900;
	text-shadow: 2px 2px 2px #000;
	text-decoration: line-through;
	text-decoration-color: blue;
}
.font-style {
	font-weight: 700;
	text-indent: 50px;
}

.style-normal mark {
	font-style: normal;
}

.style-italic {
	font-style: italic;
}

.style-oblique {
	font-style: oblique;
}
.text-font-style p span {
	font-weight: 900;
	color: red;
	text-transform: uppercase;
}
#fw {
	font-weight: 900;
	text-align: center;
	font-size: 50px;
	color: green;
	text-decoration: overline;
	text-decoration-color: blue;
	text-decoration-thickness: 10px;
	text-underline-offset: 20px;
}

/* .text-font-weight {
	font-size: 25px;
	font-family: "Montserrat";
} */
.fw100 {
	font-weight: 100;
}

.fw200 {
	font-weight: 200;
}

.fw300 {
	font-weight: 300;
}

.fw400 {
	font-weight: 400;
}

.fw500 {
	font-weight: 500;
}

.fw600 {
	font-weight: 600;
}

.fw700 {
	font-weight: 700;
}

.fw800 {
	font-weight: 800;
}

.fw900 {
	font-weight: 900;
}

#color {
	color: blueviolet;
	font-weight: 900;
	text-align: right;
	font-size: 40px;
	text-shadow: 2px 2px 2px #bf1c1c;
	text-transform: uppercase;
	text-decoration: underline;
	text-decoration-thickness: 10px;
	text-decoration-color: rgb(70, 153, 61);
	text-underline-offset: 20px;
	text-decoration-style: dashed;
}
.text-color p {
	color: #bf1c1c;
	font-weight: 600;
}
#ta {
	font-size: 30px;
	font-weight: 500;
	text-transform: capitalize;
	text-align: center;
	text-decoration: underline;
	text-decoration-style: wavy;
	text-underline-offset: 10px;
}

.ta-centr {
	text-align: center;
}

.ta-justifay {
	text-align: justify;
}

.ta-right {
	text-align: right;
}

.ta-left {
	text-align: left;
}
.text-text-align mark {
	font-weight: 700;
	text-transform: uppercase;
}

.text-tex-decoration {

}
#td {
	font-size: 30px;
	font-weight: 600;
	text-align: center;
}

.text-text-shadow {}

.text-text-transform {}

.text-line-height {}

.text-letter-spacing {}

.text-word-spacing {}

.text-white-space {}

