

body {
	font-family: "Poppins", "Montserrat", "Barlow", sans-serif;
}
.block-checkout {
	margin: 0 auto;
	width: 100%;
	background: url("../img/fon-chek.png") 0 0/cover no-repeat;
	text-align: center;
	min-height: 316px;
}
.block-checkout h1 {
	font-weight: 500;
	font-size: 48px;
}
.block-checkout img {
	margin-top: 61px;
}
.link-home {
	font-weight: 500;
}
.link-checkout {
	font-weight: 300;
}
.block-checkout a {
	display: inline-block;
	margin-top: 20px;
}
/* блок тексту */
.text-background {
	background-color: #1E1E1E;
}
.text {
	max-width: 834px;
	margin: 0 auto;
	color: #B3B3B2;
	line-height: 1.5;
}
.text h2 {
	font-size: 24px;
	font-family: "Barlow", "Poppins", sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	color: #F9EFEC;
}
.text-1 {
	padding-top: 32px;
}
.text-1 h2 + P {
	margin-top: 12px;
}
.text-2 h2 + P {
	margin-top: 12px;
}
.text-3 h2 + P {
	margin-top: 12px;
}
.text-4 h2 + P {
	margin-top: 12px;
}
.text-1 p {
	margin-top: 32px;
}
.text-2 {
	margin-top: 24px;
}
.text-2 h2 {
	margin-top: 24px;
}
.text-2 p {
	margin-top: 16px;
}
.text-3 p {
	margin-top: 16px;
}
.text-4 p {
	margin-top: 32px;
}
.text-4 h2 {
	margin-top: 24px;
}
.text-4 {
	padding-bottom: 32px;
}
.text-3 p {
	background: url("../img/icon.svg") left 5px no-repeat;
	padding-left: 26px;
	min-height: 16px;
}
.text-2 p {
	background: url("../img/icon.svg") left 5px no-repeat;
	padding-left: 26px;
	min-height: 16px;
}

/* footer */
footer {
	margin: 0 auto;
	min-height: 342px;
	background: url("../img/image_6.png") 0 0/cover no-repeat;
	background-color: rgba(0, 0, 0, 0.5);
}
footer h1 {
	font-size: 64px;
	font-weight: 800;
	line-height: 1.5;
	text-align: center;
	padding-top: 115px;
	color: #F9EFEC;
}
.footer {
	text-align: center;
}
.footer a {
	display: inline-block;
	font-weight: 500;
	color: #FFFFFF;
	background-color: #0A84FF;
	padding: 13px 78px;
	text-align: center;
	border-radius: 12px;
}



